.card {
  margin: 1rem;
  border: 1px solid #efefef;
  box-shadow:
    /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ 0 10px 0 -5px #eee,
    /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */ 0 20px 0 -10px #eee,
    /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.new-task-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.new-task-container input {
  width: 50%;
  border: none;
  border-bottom: 1px solid rgb(206, 206, 206);
  color: rgb(51, 51, 51);
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
}

.new-task-container input:focus {
  outline: none;
}

.new-task-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.new-task-container button:focus {
  outline: none;
}

.new-task-container button:active {
  transform: translateY(2px);
}
