.col-layout {
  margin: auto;
  width: 60%;
}

header {
  padding: 2rem 1rem 1rem 1rem;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
